h1 {
     color: purple;
     padding: 10px;
     text-decoration: underline;
     }
h2 {
     color: turquoise;
     padding: 20px;
     text-decoration: bold;
     }
h3 {
     color: orange;
     padding: 25px;
     text-decoration; mark
     }
h4 { 
     color: pink;
     padding: 50px;
     text-decoration: underline;
     }
